[Unit]
Description=Eternal Terminal
After=syslog.target network.target[Service]
Type=simple
Restart=on-failure
ExecStart=/home/linuxbrew/.linuxbrew/bin/etserver

[Install]
WantedBy=multi-user.target
